#------------------------CONFIGURACION MONGO--------------------------
MONGO_INITDB_ROOT_USERNAME=userforthedb
MONGO_INITDB_ROOT_PASSWORD=password

#------------------------OBSERVABILIDAD CONFIG--------------------------
NODE_ENV=development
LOG_LEVEL=debug